@use "all-vars" as vars;

.header{
	color: var(--color-foreground-inv);
	background-color: var(--color-bg-inv);
	padding-top: vars.$block-spacing;
	padding-bottom: vars.$block-spacing;
	&__logo-wrapper{
		display: inline-block;
	}
}